*{
  padding:0;
  margin: 0;
}
ul{
  list-style: none;
  padding:0;
  margin: 0;
}
/*默认状态lvha*/
a:link{
  font-size: 14px;
  text-decoration: none;
  color:#000;

}
a:visited{
  text-decoration: none;
  color:gray;
}
a:hover{
  text-decoration: none;
  color:#8cc5ff;
}
a:active{
 text-decoration: none;
}

/*新闻列表中滚动条不到顶部，用户体验感增强*/
html{
  width:100%;
  height: 100%;
  overflow: hidden;
}


/*因为顶部栏固定定位，脱离标准流*/
body{

  margin-top: 40px;
  /*对于首页顶底通栏，不被遮盖*/
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  font-size:62.5%;

     /*16 * 62.5% = 10;根元素字体大小是10px*/
}
p{
  margin-bottom: 0;
  font-size:14px;
}
span{
  font-size:14px;
}
i{
  vertical-align: baseline;
}
button{
    outline: none;
    margin: 0;
    padding:0;
}

input,textarea,button{
    /*border: none;*/
    resize:none;
    outline-style: none;
    -webkit-appearance:none;
}
h1 { font-size: 24px;}
h2 { font-size: 22px;}
h3 { font-size: 18px;}
h4 { font-size: 16px;}
h5 { font-size: 12px;}
h6 { font-size: 10px;}
.h1, .h2, .h3, .h4, .h5, .h6,
h1,h2, h3, h4, h5, h6 {
    margin-bottom: .1rem;
    font-weight: 500;
}

.fl{
  float: left;
}
.fr{
  float: right;
}


/*上传头像*/
.avatar-uploader .el-upload {
    border: 1px dashed #d9d9d9;
    border-radius: 6px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
  }
  .avatar-uploader .el-upload:hover {
    border-color: #409EFF;
  }
  .avatar-uploader-icon {
    font-size: 28px;
    width: 100px;
    height: 100px;
    line-height: 100px;
    text-align: center;
    background: #8080808c;

  }
  .avatar {
    width: 100px;
    height: 100px;
    display: block;
  }
